mat-list-item {
    border-bottom: 1px lightgray solid
}

.item {
    font-size: 14px;
    padding:10px;
}

.item:hover {
    margin-left: 10px
}

.edit {
    border: none;
    outline: none;
    font-size: 14px;
    width: 100%;
    color: white;
}

.selected {
    color: black;
    background-color: white;
}

.excerpt {
    font-size:0.7em !important;
    color: gray
}


.transparent-background {
    background-color: rgb(0,0,0,0);
}