<div fxLayout="column">
    <ng-template ngFor let-list [ngForOf]= "(list$ | async)" let-i="text-idx">
        <!-- (click)="select.emit({id: list.id, type: 'list'})" -->
        <a *ngIf="!(edit$ | async)"
            [class.selected]="lst_id == list.id" 
            class="item"
            [routerLink]="['/books', namespaceId, categoryId, list.id]"
            [queryParams]="{title: list.title, page: 'text'}"
            [attr.title]="list.title">{{ list.title }}</a>

        <div *ngIf="edit$ | async" fxLayout="rows" style="padding: 0 0;">
            <button *ngIf="!edited.isSelected(list.id); else edit_block"
                    mat-icon-button 
                    (click)="delete('list', list.id, $event)" 
                    style="color:lightgray;">
                <mat-icon>close</mat-icon>
            </button>
            <ng-template #edit_block>
                <button mat-icon-button 
                (click)="edit('list', list.id, list.title)" 
                style="color:lightgray">
                    <mat-icon>done</mat-icon>
                </button>
            </ng-template>
            <input class="edit transparent-background" style="margin:0 0"
                    [(ngModel)]="list.title"
                    placeholder="List"
                    [class.selected]="lst_id == list.id"
                    (ngModelChange)="edited.select(list.id)"
                    (keydown.enter)="edit(list.id, list.title)"/>
            </div>
    </ng-template>
    <div fxLayout="rows" *ngIf="edit$ | async">
        <button mat-icon-button
                style="color:lightgray"
                (click)="add(new.value); new.value = ''">
            <mat-icon>add</mat-icon>
        </button>
        <input class="edit transparent-background"
                #new
                placeholder="Category"
                (keydown.enter)="add(new.value); new.value = ''"/>
    </div>
</div>
