.content {
    padding: 10px
}

.main {
    padding: 0px;
    border: none;
    outline: none;
    /* height: calc(100% - 64px); */
    height:100%;
    resize:none;
}

.edit {
    padding: 0px;
    border: none;
    outline: none;
    /* height: 100%; */
    resize:none;
}

.chip-input {
    width: calc(100% - 28px);
}

.text-card {
    margin:10px; 
    padding: 5px;
}

.selected {
    box-shadow: 5px 5px 8px #888888;
    border: 0.5px solid gray;
}

.text-card-icon {
    visibility: hidden;
    cursor: pointer;
}

.text-card:hover .text-card-icon {
    visibility: visible;
}
