<div style="height:100%;width:100%"
     fxLayout="rows"
     split="row">
    <div fxFlex="20"
         fxFlex.lt-sm="100"
         [fxShow.gt-sm]="true"
         [fxShow.lt-sm]="page == 'category'"
         splitArea
         (swipeleft)="swipe('text')">
        <app-category (select)="navigate($event)">
        </app-category>
    </div>

    <div class="handle handle-row"
         [fxHide.lt-sm]="true"
         style="background-color:lightgray;width:3px;height:100%;cursor:col-resize"
         splitHandler>
    </div>

    <div fxFlex
        splitArea>
        <div style="height:100%;width:100%">
            <div
                style="padding:0 1rem 0 1rem"
                [fxShow.gt-sm]="true"
                [fxShow.lt-sm]="page == 'text' || page == 'list' || page == undefined"
                (swiperight)="swipe('category')"
                style="height:100%;width:100%">
                <app-text *ngIf="list != undefined"
                        [content]="currentList"
                        (update)="update($event)">
                </app-text>
                <div fxLayout="column"
                    fxLayoutAlign="center center"
                    style="height:100%;color:gray"
                    *ngIf="list == undefined">
                    <mat-icon *ngIf="query && query !== ''" style="font-size:30vh;height:30vh;width:30vh;">
                        search
                    </mat-icon>
                    <p *ngIf="query && query !== ''" style="font-size:20px">No result found.</p>
                    <mat-icon *ngIf="!query || query === ''" style="font-size:30vh;height:30vh;width:30vh;">
                        library_books
                    </mat-icon>
                    <p *ngIf="!query || query === ''" style="font-size:20px">The book is empty.</p>
                </div>
                <!-- <div fxLayout="column"
                    fxLayoutAlign="center center"
                    style="height:100%;color:gray"
                    *ngIf="query">
                    <mat-icon style="font-size:30vh;height:30vh;width:30vh;">
                        search
                    </mat-icon>
                    <p style="font-size:20px">No result found.</p>
                </div> -->
            </div>
        </div>
    </div>

    <div [fxHide.lt-sm]="true"
        style="background-color:lightgray;width:3px;height:100%;">
    </div>

    <div fxFlex="20"
        [fxShow.gt-sm]="true"
        [fxHide.lt-sm]="true"
        style="padding:1em"
        splitArea
        [ngStyle.gt-sm]="{'width': '10vw'}"></div> 

</div>

<div style="position:fixed;bottom:10px;right:20px;z-index:100" 
     *ngIf="_user.auth | async" 
     fxLayout="column">
    <!-- *ngIf="user?.email == 'chyeap89@gmail.com' || user?.email == 'sindrosa.24@gmail.com'" > -->

    <button mat-fab  *ngIf="editMode$ | async; else edit" (click)="toggle(false)" class="edit-toggle-btn">
        <mat-icon>visibility</mat-icon>
    </button>
        
    <ng-template #edit>
        <button mat-fab (click)="toggle(true)" class="edit-toggle-btn">
            <mat-icon>edit</mat-icon>
        </button>
    </ng-template>
</div>
