mat-list-item {
    border-bottom: 1px lightgray solid
}

.item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.edit {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
}

.selected {
    background-color: #273636;
    color: white;
}

.selected input {
    background-color: #273636;
    color: white;
}


.transparent-background {
    background-color: rgb(0,0,0,0);
}