<mat-list style="padding-top:0px">
    <mat-list-item *ngFor="let cat of (categories$ | async)"
                   (click)="select.emit(cat.id)"
                   [class.selected]="category == cat.id"
                   style="height:auto;min-height:48px"
                   fxLayout="column"
                   fxLayoutAlign="center none">
        <span *ngIf="!(edit$ | async)" class="item">
            {{ cat.title }} 
        </span>
        <div *ngIf="edit$ | async" fxLayout="rows">
            <button *ngIf="!edited.isSelected(cat.id); else edit_block"
                    mat-icon-button 
                    (click)="delete(cat.id, $event)" 
                    style="color:lightgray">
                <mat-icon>close</mat-icon>
            </button>
            <ng-template #edit_block>
                <button mat-icon-button 
                (click)="edit(cat.id, cat.title)" 
                style="color:lightgray">
                    <mat-icon>done</mat-icon>
                </button>
            </ng-template>
            <input class="edit transparent-background"
                    [(ngModel)]="cat.title"
                    placeholder="Category"
                    (ngModelChange)="edited.select(cat.id)"
                    (keydown.enter)="edit(cat.id, cat.title)"/>
        </div>
    </mat-list-item>

    <mat-list-item *ngIf="edit$ | async">
        <button mat-icon-button
                style="color:lightgray"
                (click)="add(new.value); new.value = ''">
            <mat-icon>add</mat-icon>
        </button>
        <input class="edit transparent-background"
                #new
                placeholder="Category"
                (keydown.enter)="add(new.value); new.value = ''"/>
    </mat-list-item>
</mat-list>
