<mat-sidenav-container style="height:100%;width:100%">
    <div style="height:100%;width:100%">
        <mat-toolbar fxLayout="row"
                     fxLayoutAlign="space-between center"
                     class="mat-elevation-z2"
                     [class.fullTopbar]="searching">
            <a mat-button class="home-btn" 
                    *ngIf="!searching" 
                    [routerLink]="['']">Proatoz</a>
            <div fxFlex fxLayout="row"
                 *ngIf="(searchbar$ | async)"
                 [fxHide.lt-sm]="true"
                 fxLayoutAlign="center center" 
                 style="height:100%">
                <app-search-bar></app-search-bar>
            </div>

            <div fxHide fxFlex="60" *ngIf="!searching" [fxShow.lt-sm]="true">
                <button mat-icon-button (click)="searching=true"
                    style="float:right">
                    <mat-icon>search</mat-icon>
                </button>
            </div>

            <div fxFlex fxHide fxLayout="row"
                *ngIf="searching && (searchbar$ | async)"
                fxLayoutAlign="space-between" 
                [fxShow.lt-sm]="true">
                <app-search-bar fxFlex></app-search-bar>
                <button mat-icon-button fxFlex=10 (click)="searching=false">
                    <mat-icon>close</mat-icon>
                </button>
            </div>

            <!-- <button mat-icon-button fxHide
                    *ngIf="!searching"
                    (click)="searching=true"
                    [fxShow.lt-sm]="true">
                <mat-icon>search</mat-icon>
            </button> -->

            <!-- <mat-spinner
                *ngIf="(state.load | async) && !searching"
                style="margin-right:10px"
                [diameter]="25"
                [color]="warn">
            </mat-spinner> -->

            <div *ngIf="!searching">
                <button mat-button 
                        *ngIf="(_user.user | async) == null" 
                        (click)="_user.login()">
                    <span>Sign In</span>
                </button>
                <app-avatar   
                    *ngIf="_user.user | async" 
                    [data]="_user.user | async"></app-avatar>
            </div>
        </mat-toolbar>
        <div style="height:calc(100% - 64px)">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-sidenav-container>
