<div
     style="height:100%" 
     fxLayout="column"
     fxLayoutAlign=" center">
     
    <div fxFlex="40" class="search-panel" fxLayout="column" fxLayoutAlign="center center">

        <div style="width:80%">
            <app-search-bar [shouldFocus]="true" [placeholder]="suggestion$ | async"></app-search-bar>
        </div>
    </div>

    <div fxLayout="row" style="width:80%;">
        <div fxFlex class="container" 
             fxLayout="row wrap" 
             fxLayoutAlign=" start" 
             fxLayoutGap="10px">
            <mat-card class="book"
                      *ngFor="let namespace of ( namespaces$ | async)">
                <a [routerLink]="['books', namespace.id]">
                    <mat-card-header>
                        <mat-card-title><b>{{ namespace.title }}</b></mat-card-title>
                        <mat-icon *ngIf="namespace.bookmark">bookmark</mat-icon>
                    </mat-card-header>
                    <img mat-card-image 
                            [attr.src]="namespace.background">
                </a>
                <mat-card-actions fxLayout="row" 
                                  fxLayoutAlign="end center"                         
                                  *ngIf="_user.auth | async" > 
                    <button mat-button 
                            class="edit-book-btn" 
                            (click)="edit(namespace); $event.stopPropagation()">EDIT</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

<div style="position:fixed;right:20px;bottom:10px"                         
     *ngIf="_user.auth | async" >
    <button mat-fab (click)="add()" class="add-btn">
        <mat-icon>add</mat-icon>
    </button>
</div>