<div class="main" 
     style="height:100%" 
     fxLayout="column" 
     fxLayoutAlign="center center">
    <div style="width:80%">
        <app-search-bar [shouldFocus]="true" [placeholder]="suggestion$ | async"></app-search-bar>
    </div>

    <div fxLayout="row" style="width:100%;margin-top:50px">
        <div fxFlex class="container">
            <mat-grid-list cols="4" rowHeight="150px" gutterSize="10">
                <mat-grid-tile *ngFor="let namespace of namespaces">
                    <mat-card style="width:100%;">
                        <a [routerLink]="['books', namespace.id]">
                            <mat-card-header>
                                <mat-card-title><b>{{ namespace.name }}</b></mat-card-title>
                                <mat-icon *ngIf="namespace.bookmark">bookmark</mat-icon>
                            </mat-card-header>
                        </a>
                    </mat-card>
                </mat-grid-tile> 
            </mat-grid-list>
        </div>
    </div>
</div>
