.container {
    padding: 10px;
    height: calc(100% - 64px);
    overflow: auto;
}

.mat-fab-btn {
    position: fixed !important;
    bottom:10px;
    right:10px;
}

.main {
    background-image: url('https://i.imgur.com/EwFoppH.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}