a {
    color: inherit; 
    text-decoration: inherit;
}

.container {
    padding: 10px;
    // height: calc(100% - 64px);
    overflow: auto;
}

.mat-fab-btn {
    position: fixed !important;
    bottom:10px;
    right:10px;
}

.main {
    background-image: url('https://i.imgur.com/EwFoppH.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

mat-card {
    cursor: pointer;
}

.search-panel {
    background-color: #273636;
    width: 100%;
}

.book{
    width:150px;
    margin-bottom: 1em;
}

.book:hover {
    background-color:#273636;
    color:white;
}

.edit-book-btn:hover {
    background-color: white;
    color: black;
}

.add-btn {
    background-color:#273636;
    color:white;
}

.add-btn:hover {
    background-color:white;
    color:#273636;
}